{:kotoba.app/latest "k51qzi5uqu5dk8snhs7fivu3booa2db2en5e2e3pjpfpwjvw33brwhjg96d188", :kotoba.app/site-cid "bafybeia5mry4vxodkjx4nzfkpsobhdxzpqlaljb2ucvnvgd2pgzxfgor4i", :kotoba.app/id "cloud.itonami.app-air-cargo", :kotoba.app/kind :document, :kotoba.app/embed-url "ipns://k51qzi5uqu5dk8snhs7fivu3booa2db2en5e2e3pjpfpwjvw33brwhjg96d188", :published {:own-nodes {:cid "bafybeia5mry4vxodkjx4nzfkpsobhdxzpqlaljb2ucvnvgd2pgzxfgor4i", :ipns "k51qzi5uqu5dk8snhs7fivu3booa2db2en5e2e3pjpfpwjvw33brwhjg96d188", :nodes ["gad" "xavier" "jacob"], :at "2026-10-09T04:14:05Z"}}}
